{
  "presets": ["react", "env", "stage-0"],
  "plugins": [
    [
      "module-alias",
      [
        { "src": "./app", "expose": "app" },
        { "src": "./static", "expose": "static" },
        { "src": "./lib", "expose": "lib" }
      ]
    ]
  ]
}
