{
  "presets": ["react", "env", "stage-0"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "app": "./app",
          "static": "./static",
          "lib": "./lib"
        }
      }
    ]
  ]
}
