# Exclude all files
/*

# Only include src folders we need
!/app/
!/lib/
!/static/

# Config files
!.babelrc
!.eslintrc.json
!.gitignore
!LICENSE
!package.json
!README.md
!webpack.config.js
!webpack.production.config.js
!yarn.lock
