# Exclude all files
/*

# Only include src folders we need
!/api/
!/app/
!/lib/
!/static/

# Config files
!.babelrc
!.eslintrc.json
!.gitignore
!LICENSE
!package.json
!README.md
!webpack.config.js
!yarn.lock

# API Ignores
# ignores all immediate files unless specified
# e.g. serverless caches
api/*
!api/*.js
!api/serverless.yml
!api/webpack.config.js
